#app {
    width: 100%;
    height: 800px;
    background-color: aliceblue;
}

.container
{
    text-align: center;
}

#mycarousel{
background: linear-gradient(yellow 50%,pink 50%);    
}
#mycarousel img{
height: 300px;
margin-top: 30px;
}
.carousel-inner p{
font-size: 30px;
color:cornsilk;
margin-bottom: 50px;    
}